/*--------------------------------------------------------------
# Contact Us
--------------------------------------------------------------*/
.contact{
  margin-top: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cf{
  padding-top: 20px;
}
.contact .infos {
    position: relative;
    z-index: 2;
  }
  
  .contact .info {
    padding: 60px;
    background: #fff;
    color: #334240;
    text-align: center;
    box-shadow: -5px -5px 40px 0 rgba(0, 0, 0, 0.1);
  }
  
  .contact .info i {
    font-size: 48px;
    color: #56e7d0;
    margin-bottom: 15px;
  }
  
  .contact .info h4 {
    padding: 0;
    margin: 0 0 10px 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
  }
  
  .contact .info p {
    font-size: 15px;
  }
  
  .contact .info-bg {
    background: white;
  }
  
  .contact .contact-form-wrap {
    box-shadow: 10px -5px 40px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 30px;
  }
  
  .contact .php-email-form {
    width: 100%;
  }
  
  .contact .php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .error-message br+br {
    margin-top: 25px;
  }
  
  .contact .php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
  }
  
  .contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
  }
  
  .contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    animation: animate-loading 1s linear infinite;
  }
  
  .contact .php-email-form label {
    font-family: "Poppins", sans-serif;
    margin-bottom: 5px;
    color: #5f7c78;
  }
  
  .contact .php-email-form input,
  .contact .php-email-form textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact .php-email-form input::focus,
  .contact .php-email-form textarea::focus {
    background-color: #1bbca3;
  }
  
  .contact .php-email-form input {
    padding: 10px 15px;
  }
  
  .contact .php-email-form textarea {
    padding: 12px 15px;
  }
  
  .contact .php-email-form button[type=submit] {
    background: #fff;
    border: 2px solid #1bbca3;
    padding: 10px 24px;
    color: #1bbca3;
    transition: 0.4s;
  }
  
  .contact .php-email-form button[type=submit]:hover {
    background: #1bbca3;
    color: #fff;
  }
  
  @media (max-width: 1024px) {
    .contact .info {
      padding: 30px;
    }
  }
  
  @media (max-width: 768px) {
    .contact .php-email-form {
      padding: 15px 0 0 0;
    }
  }
  
  @keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }


.owl-theme .item img{
  height: 120px;
  width: 120px !important;
  margin: auto;
}
.owl-theme .item {
  text-align: center;
margin-top: 30px !important;
margin: auto;
/* width: 100% !; */
}
.owl-theme .item a {
  text-decoration: none;
  padding: 20px;
  font-size: 20px;
  color: black;
}
.social{
  margin-top: 30px;
  padding: 20px;
}
.mails{
  text-decoration: none;
  color: black;
}